<div class="{{this.styles.box}} {{get this.styles @type}}">
  <div class={{this.styles.content}}>
    <TokenName @name={{@name}} />
    <p class={{this.styles.description}}>{{this.description}}</p>
  </div>
  <span class={{this.styles.value}}>{{this.value}}</span>
</div>