<ul
  role="listbox"
  class={{this.styles.list}}
  aria-multiselectable={{if @multiple "true"}}
  data-test-list
  ...attributes
  {{control items=@options selection=@value select=this.select activateItem=this.activateItem}}
>
  {{#each @options as |option|}}
    <li role="option">
      {{#if (has-block)}}
        {{yield option}}
      {{else}}
        {{option}}
      {{/if}}
    </li>
  {{/each}}
</ul>