<p>
  This demo allows you to control the <code>font-size</code> of <code>:root</code>,
  so you can experience its effect.
</p>

<ReducedButton {{on "click" this.reset}}>Reset</ReducedButton>
{{#let (component (concat (unless (eq this.version 'clamp') 'reduced-') 'button')) as |Btn|}}
  <Btn {{on "click" this.useClamp}}>clamp(16px, calc(0.5vw + 1em * 0.8), 18px)</Btn>
{{/let}}
{{#let (component (concat (unless (eq this.version 'static') 'reduced-') 'button')) as |Btn|}}
  <Btn {{on "click" this.useStatic}}>12px</Btn>
{{/let}}

<div {{did-insert this.setupContent}}>
  Viewport Width: <code>{{this.viewportWidth}}px</code>
  Font Size: <code>{{this.fontSize}}</code>
</div>

<Token @name="--s-4" @category="numeric" />
<Token @name="--s-3" @category="numeric" />
<Token @name="--s-2" @category="numeric" />
<Token @name="--s-1" @category="numeric" />
<Token @name="--s0" @category="numeric" />
<Token @name="--s1" @category="numeric" />
<Token @name="--s2" @category="numeric" />
<Token @name="--s3" @category="numeric" />
<Token @name="--s4" @category="numeric" />