<div local-class="control">
  <span>Intent</span>
  <span>
    {{#each this.intents as |intent|}}
      <Button
        @intent={{intent}}
        @importance={{if (eq this.intent intent) "fill" "subtle"}}
        {{on "click" (set this "intent" intent)}}
      >
        {{intent}}
      </Button>
    {{/each}}
  </span>

  <span>Importance</span>
  <span>
    {{#each this.importanceLevels as |importance|}}
      <Button
        @intent={{this.intent}}
        @importance={{if (eq this.importance importance) "fill" "subtle"}}
        {{on "click" (set this "importance" importance)}}
      >
        {{importance}}
      </Button>
    {{/each}}
  </span>
</div>

<TokenList>
  {{#each this.colors as |color|}}
    <Token::Color @name={{this.compileName "color" color}} />
  {{/each}}
</TokenList>