<p>
  This demo allows you to control the
  <code>font-size</code>
  of
  <code>:root</code>, so you can experience its effect.
</p>

<p>
  <Button @importance="subtle" {{on "click" this.reset}} @spacing="-1">Reset</Button>
  <Button
    @importance={{if (eq this.version "clamp") "supreme" "subtle"}}
    @spacing="-1"
    {{on "click" this.useClamp}}
  >
    clamp(16px, calc(0.5vw + 1em * 0.8), 18px)
  </Button>
  <Button
    @importance={{if (eq this.version "static") "supreme" "subtle"}}
    @spacing="-1"
    {{on "click" this.useStatic}}
  >
    12px
  </Button>
</p>

<Reference::GlobalSizing {{did-insert this.link}} />