<div class={{this.styles.box}}>
  <div
    class={{this.styles.demo}}
    {{style --value=(concat "var(" @name ")")}}
    {{did-insert this.setup}}
    {{did-update this.update @name}}
  ></div>
  <div class={{this.styles.content}}>
    <TokenName @name={{@name}} />
    <p class={{this.styles.description}}>{{this.description}}</p>
  </div>
  <span class={{this.styles.value}}>{{this.value}}</span>
</div>