<BaseCard class={{this.styles.card}} ...attributes>
  {{#if (has-block "header")}}
    <div class={{this.styles.header}}>
      {{yield to="header"}}
    </div>
  {{/if}}

  {{#if (or (has-block "main") (has-block "default"))}}
    <div class={{this.styles.main}}>
      {{#if (has-block "main")}}
        {{yield to="main"}}
      {{else if (has-block "default")}}
        {{yield}}
      {{/if}}
    </div>
  {{/if}}

  {{#if (has-block "footer")}}
    <div class={{this.styles.footer}}>
      {{yield to="footer"}}
    </div>
  {{/if}}
</BaseCard>