<div local-class="box">
  <div local-class="content">
    <TokenName @name={{@name}} />
    <div
      local-class="demo"
      {{style fontSize=(concat "var(" @refSize ")") --value=(concat "var(" @name ")")}}
      {{did-insert this.setup}}
    ></div>
    <p local-class="description">{{this.description}}</p>
  </div>
  <span local-class="value">{{this.value}}</span>
</div>