<div class={{this.styles.box}}>
  <div class={{this.styles.content}}>
    <TokenName @name={{@name}} />
    <div
      class={{this.styles.demo}}
      {{style
        fontSize=(concat "var(" @refSize ")")
        --value=(concat "var(" @name ")")
      }}
      {{did-insert this.setup}}
    ></div>
    <p class={{this.styles.description}}>{{this.description}}</p>
  </div>
  <span class={{this.styles.value}}>{{this.value}}</span>
</div>